/* Document Styles */
:root {
  --text: #200F63;
  --background-page: #E7EFFD;
  --background-header-footer: #DA627D;
}

a {
  color: var(--text);
}

.l-body {
  background: var(--background-page);
  color: var(--text);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Headings */
.divider__year,
.header__title,
.l-footer,
.main__heading,
.main-nav,
.main__work,
.organization,
.work__title,
.work__year {
  font-family: 'Playfair Display', serif;
}

.header__title,
.main__heading,
.nav__menu-name {
  font-size: 48px;
}

.divider__year,
.main__work {
  font-size: 44px;
}

.organization,
.work__title {
  font-size: 36px;
}

.work__year {
  font-size: 32px;
}

.nav__section {
  font-size: 24px;
}

/* Content */
.date,
.description,
.footer__social,
.header__body--description,
.header__description,
.main__description,
.main__link,
.social__item,
.work__goal,
.work__link,
.work__tech-stack {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

.l-footer,
.main-nav {
  background: var(--background-header-footer);
  font-size: 24px;
}

.l-main {
  margin: 10%;
}

/* Navigation */
.nav__menu-item {
  position: relative;
}

.nav__menu-item::before {
  background-color: var(--background-page);
  bottom: 0;
  content: '';
  height: 2px;
  left: 53%;
  position: absolute;
  width: 100%;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav__menu-item:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.main-nav, .l-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-nav {
  justify-content: space-between;
  min-height: 70px;
  overflow: hidden;
  padding: 1.5%;
  text-align: center;
}

.nav__section,
.footer__social-section {
  display: block;
}

.nav__section {
  font-size: .65em;
  line-height: 1.8;
}

.footer__social,
.nav__menu,
.social__item {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__menu {
  align-items: center;
}

.nav__menu-item {
  margin: 0 .5em;
}

.nav__menu-item a,
.nav__menu-name {
  text-decoration: none;
}

/* Heading */
.header__description,
.header__title,
.main__heading,
.main__link-group {
  text-align: center;
}

.header__title {
  margin-top: 5%;
}

.header__description,
.header__body {
  line-height: 1.4;
  margin: 0 10%;
}

/* Main */
.l-main__experience {
  display: block;
  margin: 10%;
}

.main__link-group {
  align-items: center;
  display: flex;
}

.work__professional-item,
.work__personal-item {
  margin-bottom: 15%;
}

.work__title {
  margin-bottom: 0;
}

.work__year,
.work__tech-stack,
.work__goal,
.work__link {
  line-height: 1.4;
}

.work__year,
.work__goal,
.work__link {
  margin: 0;
}

.work__tech-stack {
  margin: 5% 0 0;
}

.divider__year {
  border-bottom: 2px solid var(--text);
  line-height: 2;
  margin-top: 10%;
}

.experience {
  padding: .5% 0;
}

address > .social__items {
  font-style: normal;
}

.social__items {
  padding: 0;
  word-break: break-all;
}

.social__item {
  align-items: center;
  padding: 2%;
}

/* Footer */
.l-footer {
  justify-content: center;
  min-height: 140px;
}

.footer__social-section {
  display: block;
}

.footer__social {
  align-items: center;
  justify-content: space-between;
}

.copyright {
  margin: 0;
  padding: 0;
}

/* Images */
.main__image,
.header__image,
.header__body--image {
  max-width: 100%;
  margin: 0;
}

.main__icon {
  min-height: 50px;
}

.main__icon,
.social__icon {
  padding-right: 5%;
}

.social__icon {
  min-height: 30px;
}

.footer__social-icon {
  margin: 0 .5em;
  min-height: 30px;
}

.professional__img,
.personal__img {
  max-width: 100%;
  margin-left: 0;
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {

  /* Navigation */
  .main-nav {
    flex-direction: row;
    padding: 1.5% 8%;
  }

  .nav__section {
    font-size: 1em;
    margin-top: 0;
    min-width: 500px;
  }

  .nav__menu {
    justify-content: space-between;
  }

  /* Heading */
  .header__description {
    margin: 0 20%;
  }

  .header__body--description,
  .header__description {
    line-height: 1.3;
  }

  .header__body {
    margin: 0 15%;
  }

  /* Main */
  .l-main,
  .work__personal-items,
  .header__body {
    display: grid;
  }

  .l-main,
  .header__body {
    align-items: center;
    column-gap: 10%;
    grid-auto-columns: 1fr;
    grid-column-gap: 10%;
  }

  .l-main {
    margin: 3% 5%;
  }

  .l-main__experience {
    margin: 0 15% 5%;
  }

  .main__contact,
  .main__copy,
  .main__image,
  .header__body--description,
  .header__body--image {
    grid-row: 1;
  }

  .main__heading {
    margin-top: 0;
    text-align: left;
  }

  .main__heading,
  .main__link-group {
    text-align: left;
  }

  .main__copy {
    display: block;
    line-height: 1.4;
  }

  .work__personal,
  .work__professional {
    margin-top: 10%;
  }

  .work__tech-stack {
    margin: 2% 0 0;
  }

  .work__personal-items {
    column-gap: 10%;
    grid-template-columns: repeat(2, 1fr);
  }

  .work__year,
  .work__tech-stack,
  .work__goal,
  .work__link {
    line-height: 1.7;
  }

  /* Images */
  .main__icon {
    padding-right: 2%;
  }

  .professional__img {
    margin-left: -3%;
  }

  .personal__img {
    margin-left: -4%;
  }

  .codepen {
    margin-left: 0;
  }

  .social__items {
    word-break: break-word;
  }

  .social__icon {
    min-height: 50px;
  }
}

/* Reduced Motion */
@media screen and (prefers-reduced-motion: reduce) {

  /* Navigation */
  .nav__menu-item::before {
    transition: none;
  }
}
